@font-face {
    font-family: "Lato";
    src: url("/css/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Staatliches";
    src: url("/css/fonts/Staatliches-Regular.ttf");
}

@font-face {
    font-family: "Darker Grotesque";
    src: url("/css/fonts/DarkerGrotesque-Regular.ttf");
}

@font-face {
    font-family: "Didact Gothic";
    src: url("/css/fonts/DidactGothic-Regular.ttf");
}

@font-face {
    font-family: "Economica";
    src: url("/css/fonts/Economica-Regular.ttf");
}

@font-face {
    font-family: "Spectral";
    src: url("/css/fonts/Spectral-Regular.ttf");
}

/* defining some common colors and fonts */
:root {
    /* primary colors */
    --font-color: black;
    --accent-color: red;

    /* primary fonts */
    --body-font: "Darker Grotesque";
    --header-font: "Staatliches";

    /* spacing */
    --sidebar-width: 200px;
    --content-width: 600px;
    --footer-height: 30px;
    --spacing: 20px;
}

/* grid layout */

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr var(--sidebar-width) auto 1fr;
    grid-template-rows: auto var(--footer-height);
    grid-template-areas: 
        "left sidebar content right"
        "left sidebar footer right";
    gap: var(--spacing);
}

.content {
    max-width: var(--content-width);
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.navigation {
    grid-area: sidebar;
}

/* laying out the nav block */

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: var(--spacing);
}

/* laying out the content */
.content p, .content h2, .content h3 {
    margin-top: 0;
}

/* laying out the footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap-reverse;
}

.footer > *:not(:first-child)  {
    margin-left: var(--spacing);
}

/* laying out the paper cards */
.paper-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.paper-card .location {
    width: 100px;
    text-align: right;
    flex-shrink: 0;
    margin-right: 10px;
}

.paper-card .authors, .paper-card .notes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.author:not(:last-child) {
    margin-right: 10px;
}

ul.papers {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: var(--spacing);
}

.papers li:not(:last-child) {
    margin-bottom: 10px;
}

/* laying out project cards */

.project-card {
    display: flex;
    flex-direction: row;
}

.project-card .title {
    margin-right: 10px;
}

ul.projects {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: var(--spacing);
}

.projects li:not(:last-child) {
    margin-bottom: 10px;
}
