---
title: Projects
layout: layouts/base
---

<ul class="projects">
    {% for project in collections.projects %}
        <li>{% include "projects/card.njk" %}</li>
    {% endfor %}
</ul>

<p>If you want more details on any of the above projects, including access to source (when not already published), feel free to contact me directly. </p>