---
layout: layouts/base
---

<h1>{{ paper.title }}</h1>

<ul>{% for author in paper.authors %}
    <li>{{ author }}</li>
{% endfor %}</ul>

<h2>{{ paper.location }} - {{ paper.year }}</h2>

<ul>{% for note in paper.notes %}
    <li>{{ note }}</li>
{% endfor %}</ul>

<ul>{% for keyword in paper.keywords %}
    <li>{{ keyword }}</li>
{% endfor %}</ul>

