@font-face {
    font-family: "Lato";
    src: url("/css/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Staatliches";
    src: url("/css/fonts/Staatliches-Regular.ttf");
}

@font-face {
    font-family: "Darker Grotesque";
    src: url("/css/fonts/DarkerGrotesque-Regular.ttf");
}

@font-face {
    font-family: "Didact Gothic";
    src: url("/css/fonts/DidactGothic-Regular.ttf");
}

@font-face {
    font-family: "Economica";
    src: url("/css/fonts/Economica-Regular.ttf");
}

@font-face {
    font-family: "Spectral";
    src: url("/css/fonts/Spectral-Regular.ttf");
}

/* defining some common colors and fonts */
:root {
    /* primary colors */
    --font-color: black;
    --accent-color: red;

    /* primary fonts */
    --body-font: "Darker Grotesque";
    --header-font: "Staatliches"
}

/* and some common formatting */

body {
    font-family: var(--body-font);
}

h1, h2, h3 {
    font-family: var(--header-font);
}

/* links */
a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

/* lists */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin-top: 10px;
}

/* headers */

/* fonts */

/* stick the footer to the bottom of the page when there's more content than can fit in the viewport */
html, body {
    height: 100%;
    max-width: 600px;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 10px;
}

.footer {
    flex-shrink: 0;
}

/* styling the footer */
.footer {
    padding: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer > div {
    margin: 20px 20px 0px 0px;
}

.footer a {
    color: var(--font-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--accent-color);
}

/* styling the navigation header */
.navigation {
    padding: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
}

.navigation a {
    text-decoration: none;
}

.navigation .name {
    color: var(--font-color);
    font-family: var(--header-font);
    font-size: 40px;
    flex: 0 0 auto;
}

.navigation .nav-items {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.navigation .nav-items a {
    color: var(--font-color);
    margin-right: 10px;
}

.navigation .nav-items a:hover {
    color: var(--accent-color);
}

/* styling paper cards */
.papers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paper-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.paper-card .location {
    color: var(--accent-color);
    font-family: var(--header-font);
    width: 100px;
    margin-right: 10px;
    text-align: right;
    flex-shrink: 0;
}

.paper-card .title {
    color: var(--font-color);
    font-family: var(--header-font);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-card .title:hover {
    color: var(--accent-color);
}

.paper-card .authors, .paper-card .notes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.paper-card .authors .author, .paper-card .notes .note {
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

