<footer class="footer">
    <div class="footer-item tooling">Built using <a href="https://www.11ty.dev">11ty</a>
    </div>
    <div class="footer-item copyright">© {{ about.name }} | All Rights Reserved</div>
</footer>