---
title: Papers
layout: layouts/base
---

<h2>Publications</h2>

<ul class="papers">
    {% for paper in papers %}
        {% if paper.type == "conference" or paper.type == "journal" %}
            <li>{% include "papers/card.njk" %}</li>
        {% endif %}
    {% endfor %}
</ul>
<h2>Workshops</h2>

<ul class="papers">
    {% for paper in papers %}
        {% if paper.type == "workshop" %}
            <li>{% include "papers/card.njk" %}</li>
        {% endif %}
    {% endfor %}
</ul>

<p>My <a href="/files/pdfs/thesis.pdf">thesis</a> explores program synthesis techniques for data access.</p>

<p>If you lack institutional access to any of the works above, feel free to contact me directly for a pre-print.</p>