---
title: Papers
layout: layouts/base
---

<h2>Refereed Publications</h2>

<ul class="papers">{% for paper in papers %}
    {% if paper.type == "conference" or paper.type == "journal" %}
    <li>{% include papers/card with paper as paper %}</li>
    {% endif %}
{% endfor %}</ul>

<h2>Workshops</h2>

<ul class="papers">{% for paper in papers %}
    {% if paper.type == "workshop" %}
    <li>{% include papers/card with paper as paper %}</li>
    {% endif %}
{% endfor %}</ul>

<h2>Thesis</h2>

<ul class="papers">{% for paper in papers %}
    {% if paper.type == "thesis" %}
    <li>{% include papers/card with paper as paper %}</li>
    {% endif %}
{% endfor %}</ul>
