---
title: Papers
layout: layouts/base
---

<p>During my academic research career, I specialized in program synthesis (generating code to meet some spec) and static analysis (understanding code without running it). My <a href="/files/pdfs/thesis.pdf">thesis</a> explores techniques for generating and understanding programs that access and manipulate data at-scale.</p>

<p>If you lack institutional access to any of the works below, please contact me directly for a pre-print.</p>

<h2>Publications</h2>

<ul class="papers">
    {% for paper in collections.papers %}
        {% if paper.data.type == "conference" or paper.data.type == "journal" %}
            <li>{% include "papers/card.njk" %}</li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Workshops</h2>

<ul class="papers">
    {% for paper in collections.papers %}
        {% if paper.data.type == "workshop" %}
            <li>{% include "papers/card.njk" %}</li>
        {% endif %}
    {% endfor %}
</ul>
