<html>
    {% include partials/header.liquid %}
    <body>
    {% include partials/nav.liquid %}
    <div class="content">{{ content }}</div>
    </body>
    {% include partials/footer.liquid %}
</html>