<html>
    {% include partials/header.liquid %}
    <body>
    {% include partials/nav.liquid %}
    <div class="content">
        <h1>{{ title }}</h1>
        {{ content }}
    </div>
    {% include partials/footer.liquid %}
    </body>
</html>
