---
layout: layouts/base
---

{{ content | safe }}

<h2>Selected Publications </h2>

<ul class="papers">
    {% for paper in collections.papers %}
        {% if paper.selected %}
            <li>{% include "papers/card.njk" %}</li>
        {% endif %}
    {% endfor %}
</ul>

Click <a href="/papers">here</a>
for a list of all publications.
