---
layout: layouts/base
---

{{ content }}

<h2>Selected Publications </h2>

<ul class="papers">{% for paper in papers reversed %}
    {% if paper.selected %}
    <li>{% include papers/card with paper as paper %}</li>
    {% endif %}
{% endfor %}</ul>

Click <a href="/papers">here</a> for a list of all publications.
